<link rel="stylesheet" href="../public/main.css">

<body>
<header class="bg-danger form-control p-4">
  <div class="toggle_btn" id="toggle_btn">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </div>
  <div class="main_div2 form-group" id="main_div2">
    <a href="/" class="header_btn p-2">Home</a>
    <a href="/about"class="header_btn p-2">About</a>

    <% if (login) { %>
    <a href="/users/friends" class="header_btn p-2">Friends</a>
    <a href="/create-post" class="header_btn p-2">Create Post</a>
    <a href="/users/logout" class="header_btn p-2">Logout</a>
    <% } else { %>
    <a href="/users/register" class="header_btn p-2">Register</a>
    <a href="/users/login" class="header_btn p-2">Login</a>
   <% } %>  
  </div>
</header>
<script src="/public/js/script.js" type='text/javascript'></script>
</body>