<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./components/head.ejs') %>
</head>
<body>
  <header>
    <%- include('./components/header.ejs') %>
  </header>

  <div>
    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur delectus esse commodi sapiente aut unde praesentium voluptatum odio accusamus mollitia laudantium animi facilis tenetur tempora perspiciatis molestiae, dolorem distinctio optio!</h2>
  </div>
  <footer>
    <%- include('./components/footer.ejs') %>
  </footer>
</body>
</html>