<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./components/head.ejs') %>
</head>
<body>
  <header>
    <%- include('./components/header.ejs') %>
  </header>

<form action="/users/forget_password" method="post" class="form-control  mb-5">
  <%- include ("./partials/messages"); %>
  <div class="child1">
    <label for="email">Email</label>
    <input
      type="email"
      id="email"
      name="email"
      class=""
      placeholder="Enter Email"
    />
  </div>
  <button type="submit" class="login_btn">submit</button>
  <div class="reg_container">
    <p class="reg_link br-2">No Account? <a href="/users/register">Register Here</a></p>
    <p class="reg_link">Have An Account? <a href="/users/login">Login</a></p>
  </div>
</form>
  <footer>
    <%- include('./components/footer.ejs') %>
  </footer>
</body>
</html>