<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('./components/head.ejs') %>
</head>
<body>
  <header>
    <%- include ('./components/header.ejs')%>
  </header>
  
    <div class="container_div">
      <h1 class="login_text"><i class=""></i>  Login</h1>
      <%- include ("./partials/messages") %>
      <form class="form-control" action="/users/login" method="POST">
        <div class="child1">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            class=""
            placeholder="Enter Email"
          />
        </div>
        <div class="child1">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            class=""
            placeholder="Enter Password"
          />
        </div>
        <button type="submit" class="login_btn">Login</button>
      </form>
      <div class="reg_container">
        <p class="reg_link br-2">No Account? <a href="/users/register">Register Here</a></p>
        <p class="reg_link">Forget Password <a href="/users/forget_password">Forget Password</a></p>
      </div>
    </div>


    <footer>
      <%- include ('./components/footer.ejs')%>
    </footer>
</body>