<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include ('./components/head.ejs')%>
  </head>
<body>
<header>
  <%- include ('./components/header.ejs')%>
</header>
<div style="text-align: center;">
  <h1><i class="">Welcome to this website</i></h1>
  <h2>Create an account or login</h2>
  <a href="/users/register" class="btn btn-primary home-btn">Register</a>
  <a href="/users/login" class="btn btn-success home-btn">Login</a>
</div>

<footer>
  <%- include ('./components/footer.ejs')%>
</footer>
</body>
 