body {
  margin: 100px 0;
  height: max-content;
}
.container_div {
  padding: 10px;
  font-size: large;
  border-radius: 30px;
  margin: 0 auto;
  max-width: 600px;
  width: 90%;
  background-color: rgb(204, 220, 220);
}

a {
  text-decoration: none;
  border-radius: 5px;
}

.home-btn {
  font-size: 20px;
  margin-left: 15px;
}

.login_text {
  text-align: center;
  font-size: 40px;
}
.login_form {
  width: 80%;
  margin-left: 20%;
}
.reg_form {
  width: 80%;
  margin-left: 18%;
}
.my_input {
  width: 70%;
  margin: 10px;
  height: 35px;
  border-radius: 15px;
  padding-left: 10px;
}
.my_input::placeholder {
  padding-left: 10px;
}
.child1 {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.login_btn {
  width: 60%;
  height: 30px;
  border-radius: 5px;
  border: none;
  margin-left: 20px;
  font-weight: bold;
  margin-top: 20px;
  color: white;
  font-size: 20px;
  cursor: pointer;
  background-color: tomato;
}
.reg_btn {
  width: 70%;
  height: 30px;
  border-radius: 5px;
  border: none;
  margin-left: 20px;
  font-weight: bold;
  margin-top: 20px;
  color: white;
  font-size: 20px;
  cursor: pointer;
  background-color: tomato;
}

header {
  margin-bottom: 20px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

footer {
  margin-top: 20px;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  height: 70px;
}

header button,
footer button {
  padding: 10px;
  border-radius: 5px;
  align-items: center;
  cursor: pointer;
}
.reg_container {
  display: flex;
  justify-content:center;
  align-items: center;
  gap: 10px;
  padding: 10px;
}
.br-2 {
  border-right-width: thin;
  border-right-color: black;
  border-right-style: solid;
  padding-right: 5px;
}
.reg_link {
  text-align: center;
  font-size: 12px;
}
.copy_msg {
  text-align: right;
  font-weight: bold;
  color: aliceblue;
}

.otp_container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.error {
  text-align: center;
  color: red;
}
.success {
  color: green;
  text-align: center;
}

.li {
  font-weight: bold;
}

.post-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main_div {
  text-align: center;
  font-weight: bold;
  font-size: 12px;
}

.footer_btn {
  color: black;
  background: white;
}

.friends {
  text-decoration: underline;
}

/* The new codes for mobile responsiveness starts here. This is the changes i made for responsiveness to work */
.main_div2 {
  text-align: center;
  font-weight: bold;
  font-size: 12px;
}

.header_btn {
  color: black;
  background: white;
}


@media (max-width: 620px) {
  .main_div {
    font-size: 12px;
    padding: 0%;
  }
  .footer_btn {
    padding: 0%;
  } 

  /* The new codes for mobile responsiveness starts here */
 
  .main_div2 {
    font-size: 12px;
    padding: 5px;
    flex-direction: column;
    max-width: 150px;
    width: 70%;
    position: absolute;
    top: -1000px;
    right: 0;
    background: #877e7e;
    display: flex;
  }
  .header_btn {
    margin-bottom: 10px;
    width: 70%;
    margin: 5px auto;
  }
  .main_div {
    display: none;
  }
  .copy_msg {
    text-align: center;
  }

  .toggle_btn .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
  }

  .toggle_btn{
    position: absolute;
    top: 5%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .toggle_btn .bar{
    display: block;
    cursor: pointer;
  }

  #toggle_btn.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #toggle_btn.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #toggle_btn.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .main_div2.active {
    top: 45px;
   }

}

